.navContainer {
    padding: 0.5vh 3vh;
    display: flex;
    align-items: center;
}
.logoContainer {
    display: flex;
    align-items: center;
    flex: 1;
}
.navItem {
    flex: 2;
}
.logo {
    width: 50px;
    object-fit: contain;
}
.logoTitle {
    text-transform: uppercase;
}

@media screen and (max-width: 768px){
    .navItem {
        display: none;
    }
}